/* Container */
.menu {
    position: relative;
}

.menu button {
	display: flex;
	align-items: center;
	gap: 7px;
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.menu button:hover {
	font-weight: 500;
	cursor: pointer;
}

.menu button:hover .triangle {
	background: var(--dropdown-triangle-hover, #5A5A5A);
}

.menu button:hover .triangle.dropped {
	background: #0075FF;
}

/* button elements */
.icon {
	font-size: 18px;
}

.name {
	font-size: 24px;
	margin-top: 3px; /* adjusting text to align emoji vertically */
	font-family: 'inter';
	color: var(--navfoot-color, #6b6b6b);
}

.triangle {
	--r: 1.5px;
	margin-top: 5px;
	width: 18px;
	aspect-ratio: 1/cos(30deg);
	--_g:calc(tan(60deg)*var(--r)) top var(--r),#000 98%,#0000 101%;
	-webkit-mask:
	  conic-gradient(from 150deg at 50% calc(3*var(--r)/2 - 100%),#000 60deg,#0000 0)
	   0 0/100% calc(100% - 3*var(--r)/2) no-repeat,
	  radial-gradient(var(--r) at 50% calc(100% - 2*var(--r)),#000 98%,#0000 101%),
	  radial-gradient(var(--r) at left  var(--_g)),
	  radial-gradient(var(--r) at right var(--_g));
	clip-path: polygon(50% 100%,100% 0,0 0);
	background: var(--dropdown-triangle, #A3A3A3);
  }
  

.triangle.dropped {
	--r:1.5px; 
	margin-top: 2px;
	width: 18px;
	aspect-ratio: 1/cos(30deg);
	--_g:calc(tan(60deg)*var(--r)) bottom var(--r),#000 98%,#0000 101%;
	-webkit-mask:
	  conic-gradient(from -30deg at 50% calc(200% - 3*var(--r)/2),#000 60deg,#0000 0)
	   0 100%/100% calc(100% - 3*var(--r)/2) no-repeat,
	  radial-gradient(var(--r) at 50% calc(2*var(--r)),#000 98%,#0000 101%),
	  radial-gradient(var(--r) at left  var(--_g)),
	  radial-gradient(var(--r) at right var(--_g));
	clip-path: polygon(50% 0,100% 100%,0 100%);
	background: #0075FF;
  }

/* dropdown */
.dropdown {
	display: block;
    position: absolute;
    left: 0;
    top: 150%;
	background-color: var(--body-background, white);
	border-radius: 15px;
	padding: 15px 10px;
	box-shadow: -1px 1px 3px var(--body-color, black);
	z-index: 1000;
	max-height: 80vh;
	overflow-y: scroll;
	/* IE and Edge */
	-ms-overflow-style: none;  
	/* Firefox */
	scrollbar-width: none;  
  }

 
 .dropdown::-webkit-scrollbar {
	 /* Safari and Chrome */
	 display: none; 
 }

.dropdown ul {
	display: block;
	padding: 0;
	margin: 0;
    list-style: none;
  }

.dropdown ul li {
    width: 300px;
    padding: 15px 10px;
	cursor: pointer;
}

.dropdown ul li a {
	display: block;
    text-decoration: none;
    font-family: "inter", sans-serif;
    color:var(--navfoot-color, #5A5A5A);
    font-size: 22px;
}

.dropdown ul li:hover {
    background-color: var(--button-background, #BBDAFF);
	border-radius: 15px;
}

.dropdown ul li:hover a {
	color: var(--button-color, #0075FF);
}

@media (max-width: 1800px) {
	.dropdown ul li {
		width: 250px;
	}
  }

  @media (max-width: 1650px) {
	.dropdown ul li {
		width: 200px;
	}
  }

  @media (max-width: 1300px) {
	.dropdown ul li {
		width: 180px;
	}
  }

@media (max-width: 1080px) {
	.icon {
		font-size: 12px;
	}
	
	.name {
		font-size: 16px;
		margin-top: 0;
	}

	.dropdown ul li a {
		font-size: 14px;
	}

	.dropdown ul li {
		width: 125px;
	}

	.menu button {
		gap: 5px;
	}
	
  }

  @media (max-width: 720px) {
	.icon {
		font-size: 8px;
	}
	
	.name {
		font-size: 12px;
	}

	.dropdown ul li a {
		font-size: 10px;
	}

	.dropdown ul li {
		padding: 7.5px 5px;
	}
	
	.menu button {
		gap: 1.5px;
	}

	.triangle {
		margin-top: 3px;
		width: 12px;
	}

	.triangle.dropped {
		margin-top: 0;
		width: 12px;
	}
  
  }
